[Unit]
Description=Kiosk Service
After=network.target
After=network-online.target

[Service]
User=kiosk
Group=kiosk
Type=forking
ExecStart=/home/kiosk/service.sh start
ExecStop=/home/kiosk/service.sh stop
TimeoutSec=30
Restart=on-failure
RestartSec=30
StartLimitInterval=350
StartLimitBurst=10

[Install]
WantedBy=multi-user.target

